@model Adm_Imoveis.Models.Imovel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready( function(){
        $("#btnConsultarCep").click(function(){
            $.ajax({
                url:'@Url.Action("CorreiosEndereco","Imoveis")',
                type: "GET",
                contentType: "application/json",
                data: { cep: $("#txtCep").val() },
                success: function(result){
                    $("#divEnd").html("<label>" + result + "</label>")
                },
                error: function(xhr, exception){
                    alert("Erro ao buscar pelo endereço!")
                }
            });
        })
    });
</script>

<h1>Novo</h1>

<h4>Imovel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="row">
	            <div class="col-md-12 form-group">
                    Informe o Cep: 
		            @Html.TextBox("txtCep", null, new{@class="form-control"})
	            </div>
	            <div class="col-md-4">
		            <button class="btn btn-success" id="btnConsultarCep" >Consultar</button>
	            </div>
            </div>
            Endereço encontrado :
            <div class="form-group" id="divEnd">

            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
