@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Encontrei sua Casa - Imobiliária</h1>
    <p>Aplicativo modulo básico para Gestão de Imobiliárias</p>
    <p>* <a href="Pessoas/Index">Usuários</a> </p>
    <p>* <a href="TipoPessoa/Index">Tipo de Usuários</a> </p>
    <p>* <a href="Imoveis/Index">Imoveis</a> </p>
    <p>* <a href="Visitas/Index">Registro de visitas</a> </p>
</div>
